<?xml version="1.0" encoding="utf-8" ?>
<!--<log4net>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender" >
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
        </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
        <file value="example.log" />
        <appendToFile value="true" />
        <maximumFileSize value="100KB" />
        <maxSizeRollBackups value="2" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date %5level %logger.%method [%line] - MESSAGE: %message%newline %exception" />
        </layout>
    </appender>
    <root>
        <level value="ALL"/>
        <appender-ref ref="DebugAppender" />
        <appender-ref ref="RollingFile" />
    </root>
</log4net>-->

<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <appSettings>
        <add key="log4net.Config" value="log4net.config" />
        <add key="log4net.Config.Watch" value="True" />
        <add key="log4net.Internal.Debug" value="true"/>
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>

    <log4net>
        <level>
            <name value="Data" />
            <value value="300000" />
        </level>
        
        <root>
            <level value="ALL" />
            <appender-ref ref="RollingFile" />
            <appender-ref ref="DataAppender"/>
            <appender-ref ref="ExcpAppender"/>
            <!--<appender-ref ref="Server"/>-->
        </root>

        <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <!--<param name="File" value="./Logs/@date/Console.log" />-->
            <file type="log4net.Util.PatternString" value="./Logs/"/>
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <datePattern value="yyyyMMdd'/App.log'" />
            <staticLogFileName value="false" />
            <maximumFileSize value="10MB" />
            <maxSizeRollBackups value="10" />"
            <preserveLogFileNameExtension value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <!--<conversionPattern value="%date [%thread] %5level %logger - %message%newline%exception" />-->
                <!--<conversionPattern value="%date [%thread] %5level [%location %method %line] [%C %M] %message%newline%exception" />-->
                <conversionPattern value="%date{HH:mm:ss.fff}  %5level  %message%newline%exception" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="DEBUG" />
                <levelMax value="WARN" />
            </filter>
        </appender>

        <appender name="DataAppender" type="log4net.Appender.RollingFileAppender">
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <file type="log4net.Util.PatternString" value="./Logs/"/>
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <datePattern value="yyyyMMdd'/Data.log'" />
            <staticLogFileName value="false" />
            <maximumFileSize value="10MB" />
            <maxSizeRollBackups value="10" />"
            <preserveLogFileNameExtension value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date{HH:mm:ss.fff}  %5level  %message%newline%exception" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="Data" />
                <levelMax value="Data" />
            </filter>
        </appender>

        <appender name="ExcpAppender" type="log4net.Appender.RollingFileAppender">
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <file type="log4net.Util.PatternString" value="./Logs/"/>
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <datePattern value="yyyyMMdd'/Exception.log'" />
            <staticLogFileName value="false" />
            <maximumFileSize value="10MB" />
            <maxSizeRollBackups value="10" />"
            <preserveLogFileNameExtension value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date{HH:mm:ss.fff}  %5level  %message%newline%exception" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="ERROR" />
                <levelMax value="FATAL" />
            </filter>
        </appender>

        <!-- 사용안함 -->
        <appender name="Server" type="log4net.Appender.RollingFileAppender" >
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <file type="log4net.Util.PatternString" value="./Logs/"/>
            <appendToFile value="true" />
            <rollingStyle value="Composite" />
            <datePattern value="yyyyMMdd'/Server.log'" />
            <staticLogFileName value="false" />
            <maximumFileSize value="10MB" />
            <maxSizeRollBackups value="10" />"
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date{HH:mm:ss.fff}  %5level  %message%newline%exception" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="INFO" />
            </filter>
        </appender>
    </log4net>

    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add
                    name="textWriterTraceListener"
                    type="System.Diagnostics.TextWriterTraceListener"
                    initializeData="C:\temp\log4net.txt" />
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>
